.wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}


.inner {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 936px;
    height: 720px;
    padding-top: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 24px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    padding-top: 290px;
    text-align: center;
    color: #fff;
    background-color: blue;
}

.item {
    padding-top: 92px;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
}

.title {
    display: block;
    font-size: 36px;
    font-weight: 700;
}

.text {
    margin-top: 34px;
    font-size: 18px;
}

.sub {
    display: block;
    margin-top: 102px;
    font-size: 14px;
    color: #8f8f8f;
}

.kakao, .google, .naver, .facebook {
    position: relative;
    display: inline-block;
    padding: 18px 20px;
    margin-top: 18px;
    box-sizing: border-box;
    width: 420px;
    font-family: "SFUIDisplay";
    border-radius: 8px;
    border:1px solid #ccc;
    font-size: 13px;
    font-weight: 700;
    color: #ccc;
    background-color: #fff;
    box-sizing: border-box;
}

.icon_facebook {
    position: absolute;
    left: 15px;
    top: 13px;
    color: #ccc;
}

.icon_kakao {
    position: absolute;
    left: 9px;
    top: 10px;
}

.icon_google {
    position: absolute;
    left: 16px;
    top: 15px;
    color: #ccc;
}

.icon_naver {
    position: absolute;
    left: 10px;
    top: 10px;
}

.kakao:hover, .kakao:focus {
    color: #3c1e1e;
    background-color: yellow;
    border-color: yellow;
}

.naver:hover, .naver:focus {
    color: #fff;
    background-color: #00b900;
    border-color: #00b900;
}

.google:hover, .google.foucs {
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
    
    .icon_google {
        color: #fff;
    }
}

.facebook:hover, .facebook:focus {
    color: #fff;
    background-color:#1877f2;
    border-color: #1877f2;

    .icon_facebook {
        color: #fff;
    }
}

.cancel {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}