.list {
    display: grid;
    padding-bottom: 25px;
    @include mediaQuery(tablet) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 36px;
        row-gap: 28px;
    }

    @include mediaQuery(pc) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 48px;
        row-gap: 38px;
    }

    @include mediaQuery(pcWide) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

