.main {
    position: relative;
    box-sizing: border-box;
    padding: 83px 15px 15px;

    @include mediaQuery(pc) {
        width: $G-width-pc;
        padding: 83px 0 15px;
        margin: 0 auto;
    }
}

.sub_title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;
}