.user {
    position: relative;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #c0c0c0c0;
}

.user_image {
    position: absolute;
    top: 8px;
    left: 9px;
    color: white;
}

.real_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}